/*General Rules */
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 10%;
}
div {
  display: block;
}
.bg-light {
  background-color: #f8f9fa !important;
}
/*Nav bar*/
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.navbar-brand {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  margin-left: 1rem;
  color: #6c757d;
}
.navbar-brand:hover {
  color: #0d6efd;
}
a {
  cursor: pointer;
}
/*Main component*/
main {
  display: block;
  min-height: 70%;
  flex-shrink: 0;
}
.mt-5 {
  margin-top: 3rem;
}
.container {
  margin-top: 80px;
  width: 100%;
  padding-right: 1.75rem;
  padding-left: 1.75rem;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
}
.row > * {
  max-width: 100%;
  margin-top: 0;
}
.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  display: block;
}
h1 {
  font-size: 2.5rem;
}
h5 {
  font-size: 1.25rem;
}
.mb-3 {
  margin-bottom: 1rem;
}

/*Button */
button,
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.btn-primary:active {
  color: #fff;
  background-color: #0a58ca;
  border-color: #0a53be;
}
button.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
button.btn-primary:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
button.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
button.btn-danger,
.bg-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
button.btn-danger.active {
  color: #fff;
  background-color: #b02a37;
  border-color: #a52834;
}
button.btn-danger:hover {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
}
.btn {
  text-transform: none;
  margin: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/*List group*/
.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
}
.list-group-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.list-group-item:last-child {
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.list-group-item-action {
  width: 100%;
  color: #495057;
  text-align: inherit;
}
.rounded-pill {
  border-radius: 50rem;
}
.bg-secondary {
  background-color: #6c757d !important;
}
.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 1.25rem;
}
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
/*Table*/
.tab-content > .active {
  display: block !important;
}
.tab-content > .tab-pane {
  display: none;
}
.fade {
  transition: opacity 0.15s linear;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: middle;
  border-color: #dee2e6;
}
table {
  display: table;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
  border-collapse: collapse;
}
.table > thead {
  vertical-align: middle;
}
.table > tbody {
  vertical-align: inherit;
}
.table > :not(:last-child) > :last-child > * {
  border-bottom-color: gray;
}
table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: transparent;
  border-bottom-width: 1px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
  color: #212529;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
thead {
  display: table-header-group;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}
/*Modal*/
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.modal-dialog {
  position: relative;
  width: auto;
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}

.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.modal-header .btn-close {
  padding: 0.5rem 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem auto;
}
.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
  background-color: transparent;
  cursor: pointer;
}
.close {
  margin-right: .5rem;
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-content {
  pointer-events: auto;
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}
.modal-footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* Form */
form {
  display: block;
}
form div {
  margin: .5rem 0;
}
label {
  display: inline-block;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/*Footer*/
.footer {
  position: fixed;
  margin-top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  background-color: #f8f9fa !important;
}

.footer a, .footer p{
  text-decoration: none;
  font-size: 1rem;
  color: #6c757d;
}

.footer a:hover {
  color: #0d6efd;
  transform: translateY(10px);
}

/*Responsive media queries*/

@media (min-width: 768px) {
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
    padding: 0 2rem;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 8rem auto;
  }
}
